<p>dev-test works!</p>
TODO: take screenshot of page automatically, put it on a canvas/ into three js,
play some cool animation ,like piece of paper burning with image of screenshot,
then show the new page? https://www.youtube.com/watch?v=3SJIPjlSjtM

<canvas id="threeJsCanvas" style="border: dashed 2px indianred"></canvas>

<div style="opacity: 0.5">FPS {{ measureFPS.FPS }}</div>

<pre>
    todo:
    create particles based on programming snippers, such as
     0-9 indigo numbers,
      function , if, else, for , break, return , booleans, strings, classes, import , export, async, types, const , let, new , +=*/% , ;
      and html tags, and angular tags, and material tags, 
       ect! please please pleases
</pre>
