<nav>
  <!--<a routerLink="/dev-test">1st Test</a>-->
  <a
    routerLink="/raycast-lesson"
    class="styledLink"
    routerLinkActive="activeLink"
    >Raycast Lesson</a
  >
  <a
    routerLink="/modularBuilding"
    class="styledLink"
    routerLinkActive="activeLink"
    >Modular Building</a
  >
  <a
    routerLink="/particles-lesson"
    class="styledLink"
    routerLinkActive="activeLink"
    >Particles Lesson</a
  >
  <a routerLink="/draco-lesson" class="styledLink" routerLinkActive="activeLink"
    >Draco Lesson</a
  >
  <a
    routerLink="/shaders-lesson"
    class="styledLink"
    routerLinkActive="activeLink"
    >Shaders Lesson</a
  >
  <a routerLink="/CSS3D-lesson" class="styledLink" routerLinkActive="activeLink"
    >CSS3D Lesson</a
  >
</nav>

Welcome to three js!

<router-outlet></router-outlet>
