<nav>
  <img
    src="assets/ui/daxur-studios-logo.webp"
    alt="logo"
    style="width: 45px; height: 45px"
    routerLink="/"
  />
  <a
    routerLink="/raycast-lesson"
    class="styledLink"
    routerLinkActive="activeLink"
    >Raycast Lesson</a
  >

  <a
    routerLink="/particles-lesson"
    class="styledLink"
    routerLinkActive="activeLink"
    >Particles Lesson</a
  >
  <a routerLink="/draco-lesson" class="styledLink" routerLinkActive="activeLink"
    >Draco Lesson</a
  >
  <a
    routerLink="/shaders-lesson"
    class="styledLink"
    routerLinkActive="activeLink"
    >Shaders Lesson</a
  >
  <a
    routerLink="/procedural-flower-lesson"
    class="styledLink"
    routerLinkActive="activeLink"
    >Procedural Flower</a
  >
  <a routerLink="/jet" class="styledLink" routerLinkActive="activeLink"
    >Jet Showcase</a
  >
  <a routerLink="/CSS3D-lesson" class="styledLink" routerLinkActive="activeLink"
    >CSS3D Lesson</a
  >
</nav>

<router-outlet></router-outlet>
