@import url("app/theme/appTheme.css");
/*
@import "@daxur-studios/ui/assets/common.css";
*/
body,
html {
  margin: 0;
  /* font-family: "appFont";*/
  height: 100%;
  width: 100%;
}
body {
  background: linear-gradient(45deg, #bd7b7b, #ec5cca);

  background: linear-gradient(45deg, #ffeb3b, #e91e63);
}
